.navbar {
  border-bottom: 2px solid goldenrod;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.page-content h1 {
  margin-top: 40px;
}

.browse-content {
  display: flex;
  justify-content: center;
}

.browse-content h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.btn-add {
  display: flex;
  justify-content: center;

}

.form-content {
  min-width: 320px;
  width: 100%;
  max-width: 720px;
  margin: 0px auto;
}

.border {
  background-color: rgba(13, 109, 253, 0.3)
}

.custom-card p {
  margin-bottom: 6px;
}

.hero-image {
  width: 100%;
  min-height: 420px;

  margin: 50px 0px;

  background-image: url('./assets/hero_corgi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  

  border-top: 2px solid rgb(13,110,253);
  border-bottom: 2px solid rgb(13,110,253);
}

.subhero-image {
  width: 100%;
  min-height: 200px;

  margin: 10px 0px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  

  border-top: 2px solid rgb(13,110,253);
  border-bottom: 2px solid rgb(13,110,253);
}

.img-customers {
  background-image: url('./assets/subhero_customers.jpg');
}

.img-products {
  background-image: url('./assets/subhero_products.jpg');
}

.img-orders {
  background-image: url('./assets/subhero_orders.jpg');
}

li a, div a {
  color: rgb(13,110,253);
  font-weight:500;
  text-decoration: none;
}

.footer {
  height: 90px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-top: 90px;
  
  background-color: rgb(13,110,253);
  color: white;

  border-top: 2px solid goldenrod;

  box-shadow: 0 50vh 0 50vh rgb(13,110,253);
}